#produto-detalhes {
  width: 90%;
  max-width: 1200px;
  height: auto;
  margin: 20px auto;
  border: 2px solid #222;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.textos {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #222;
  padding: 20px;
}

.produto-nome {
  font-weight: 400;
  font-size: 1.6rem;
  width: 90%;
  text-overflow: ellipsis;
  text-align: center;
  overflow: hidden;
  height: 60px;
  text-transform: capitalize;
}

.produto-img {
  object-fit: cover;
  margin: 15px auto;
  width: 90%;
  height: auto;
}

.produto-descricao {
  width: 90%;
  max-height: 200px;
  font-size: 1rem;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
}

.produto-price {
  font-weight: 900;
  font-size: 2rem;
  margin: 5px 0px 5px 0px ;
}

#add-cart {
  width: 80%;
  border-radius: 10px;
  height: 40px;
  margin-top: 10px;
}

@media (min-width: 768px) {
  #produto-detalhes {
    flex-direction: row;
  }

  .textos {
    width: 50%;
  }

  .produto-img {
    width: 30%;
  }
}

#image-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
}
#image-display {
  width: 100%;
  max-width: 500px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#image-display img {
  object-fit: cover;
  width: 100%;
  margin: 10px;
  height: auto;
  max-height: 400px;
  display: none;
}
#image-display img.active {
  display: block;
}
#prev-btn, #next-btn {
  background: none;
  border: none;
}
svg{
  width: 30px;
  height: 50px;
}